ion-item  {
    --background:  hsl(var(--background));
    --color: #gray;
    --border-color: white;
  }

ion-item-divider  {
    --background:  hsl(var(--background));
    --color: gray;
    --border-color: white;
  }