
ion-item.custom  {
    --color: black;
}

ion-item-divider .custom   {
    --color: white;
    --border-color: white;
}
ion-item  {
  --background:  hsl(var(--background));
  --color: white;
  --border-style: none;
  --padding-bottom: 10px;
}

ion-item-divider   {
  --background:  hsl(var(--background));
  --color: gray;
  --border-color: white;
}
ion-item-group.custom   {
  margin:0 0 5vh 0;
  }

ion-input.custom-input{
    --background: hsl(var(--background-secondary));
    --border-radius: 10px;
    width: clamp(300px, 50%, 450px);
    --color: #fff;
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;
  
}

ion-button {
  --color: white;
}

ion-button.custom {
  height: clamp(40px, 50%, 60px);
  width: clamp(300px, 50%, 450px);
  --color:black;
  --background: white;
  --background-hover: white;
  --background-activated: white;
  --background-focused: white;
}

ion-button.dark-button{
  width: clamp(200px, 20%, 450px);
  --color:white;
  --background: hsl(var(--background));
  --background-hover: hsl(var(--background-secondary));
  --background-activated: white;
  --background-focused: white;
}

ion-breadcrumb {
  --color: gray;
  --color-active: white;
  --color-hover: White;
}
ion-searchbar.custom {
  --background: hsl(var(--background));
  --color: #fff;
  --placeholder-color: #fff;
  --icon-color: #fff;
  --clear-button-color: #fff;
  --border-radius: 4px;
  margin: 0 0 0 -0.5em;
}

ion-searchbar.ios.custom {
  --cancel-button-color: #19422d;
}

ion-searchbar.md.custom {
  --cancel-button-color: #fff;
}

ion-searchbar.modal-search {
  --color: black;
  --placeholder-color: #fff;
  --icon-color: black;
  --clear-button-color: #fff;
  --border-radius: 4px;
}
