/* ======
    Main
   ====== */

#main {
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5em 0 0 4em;
    overflow-y: auto;
}
#main > h2 {
    width: 80%;
    max-width: 80%;
}
#main > p {
    width: 80%;
    max-width: 80%;
}

@media (max-width: 426px) {
    #main {
        margin: 0;
    }
}