/* ======
    Main
   ====== */

#main {
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0 0 4em;
    padding-top: 11vh;
}
#main > h2 {
    width: 80%;
    max-width: 80%;
}
#main > p {
    width: 80%;
    max-width: 80%;
}