/* table.module.css */

.tableContainer {
	overflow-x: auto;
  }
  
  .tableRow {
	display: flex;
	flex-wrap: wrap; 
	margin-bottom: 10px;
  }
  
  .tableColumn {
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 10px 20px;

	box-sizing: border-box; /* Учитываем padding внутри ячейки */
  }
  .tableColumn:last-child {
	border-right: none; /* Убираем правую границу у последней колонки */
  }
  
  /* Дополнительные стили для улучшения отображения на мобильных устройствах */
  @media all and (max-width: 640px) {
	.tableContainer {
		margin-bottom: 20%;
	  }
	.tableRow {
	  flex-direction: column;
	  border-bottom: 1px solid #eeeeee; /* Добавим разделительные линии */
	}
  
	.tableColumn {
	  flex: none;
	  width: 100%;
	  border-right: none;
	  
	  margin-bottom: 5px; 
	}
  
	.tableColumn:before {
	  font-weight: bold;
	  padding-right: 10px;
	  font-size: 12px;
	  content: attr(data-label) ":";
	  color: hsl(var(--primary));; 
	}
	.tableRow[data-hide-header="true"] {
		display: none;
	  }
  }
  